<!--TODO - To be sourced from DB. Section name iterative, details iterative. Single DB call. -->
<div class="row mt-4 ms-3">
  <div class="col-2">
    <div id="guidelines-list" class="list-group position-fixed">
      <a class="list-group-item list-group-item-action" href="#land">Appreciate the Land</a>
      <a class="list-group-item list-group-item-action" href="#community">Appreciate the Community</a>
      <a class="list-group-item list-group-item-action" href="#food">Appreciate the Food</a>
      <a class="list-group-item list-group-item-action" href="#coordinators">Appreciate the Coordinators</a>
    </div>
  </div>
  <div class="col-8">
    <div data-bs-spy="scroll" data-bs-target="#guidelines-list" data-bs-smooth-scroll="true" class="scrollspy-guidelines" tabindex="0">
      <h4 id="land" style="margin-top: -0.125em;">Appreciate the Land</h4>
      <hr>
      <ul>
        <li>Our gathers are private events, by invite only. They are not public events.</li>
        <li>The farm reserves the right at any time to make changes to any rules we are asked to follow.</li>
        <li>No open fires anywhere except the main fire pit.</li>
        <li>Service vehicles use the farm road next to the main area, therefore it must be clear at all times.</li>
        <li>Do not drive or park on grassy areas. Parking is available only in the field on the Rt188 side.</li>
        <li>If you have circumstances that require parking closer to the site, a coordinator must clear it with the farm first.</li>
        <li>Camping is allowed in the parking field, or in the main area. Do not camp in the turnaround, as this is used by the tractor.</li>
        <li>For traditional reasons, we ask that you not camp on the hill down the road from the main area, known as 'Shaman's Hill'.</li>
        <li>Firewood is provided on Friday and Saturday nights by the farm. Please help load and unload the wood.</li>
        <li>For Thursday night, you can harvest fallen branches or bring your own wood, but don't cut anything down.</li>
        <li>Some timber is saved for fence posts at the farm; if its pre-cut and in the woods, leave it there.</li>
        <li>Please be mindful of candles or yard torches, as the forest contains plenty of kindling.</li>
        <li>If you see something that looks unsafe, let us know so we can help ensure everyone's safety.</li>
        <li>If you see something on fire, yell for us to help while you start putting it out.</li>
        <li>Children and the faint-of-heart may be around, therefore we ask that you refrain from nekkidness.</li>
        <li>No illicit substances should be brought with you. This is a liability for the farm and our coordinators.</li>
        <li>Alcohol should not be provided to those under the age of 21. This is also a liability for the farm and our coordinators.</li>
        <li>Compost may either be buried away from camp, or burned in the communal fire.</li>
        <li>The land must be immaculate once our gather has ended. Be certain to make sure you've left nothing behind.</li>
      </ul>
      <h4 id="community">Appreciate the Community</h4>
      <hr>
      <ul>
        <li>Upon arrival, find Badger so he can check you in (his mutton chops are hard to miss).</li>
        <li>Bring your own dishes and utensils. Wash your dishes when done, and store them with your belongings.</li>
        <li>Label your belongings. If it is left behind, this is the only way we can get it back to you.</li>
        <li>If cooking on the grills, close the propane valve when done, or ask someone to help you do so.</li>
        <li>Please keep the area right around the fire free of obstacles, to prevent injury to firetenders and dancers.</li>
        <li>Those chopping wood should do so well away from the fire circle. Wood shrapnel sucks when it gets you in the eye.</li>
        <li>To prevent sparks from spraying others, be as gentle as possible when adding wood to the fire. This is not only courteous, but safer too.</li>
        <li>If it starts to rain, help bring chairs, musical instruments, phones, cameras, etc. under shelter to keep them out of the rain.</li>
        <li>If you choose to bring them, please be watchful for your children and/or pets at all times.</li>
        <li>If you choose to drink, do so responsibly. Excessive intoxication is unnecessary, and we'll worry.</li>
        <li>If you choose to smoke, do so responsibly. Please check with the folks down wind of you beforehand.</li>
      </ul>
      <h4 id="food">Appreciate the Food</h4>
      <hr>
      <ul>
        <li>Meals are communal, and everyone is asked to contribute something for our meals.</li>
        <li>Coolers may be parked in the kitchen area or at your site. The kitchen area is usually shaded.</li>
        <li>Coolers are not communal. If you bring a cooler to share, label it for communal use.</li>
        <li>Beverages are not communal. If you bring beverages to share, label them for communal use.</li>
        <li>Snacks are presumed communal if left in the kitchen area. Label it otherwise, or store it at your site, if its not for sharing.</li>
        <li>Ingredients for our meals are generously contributed by your fellow forest folk members. If it looks like an ingredient, don't snack on it.</li>
        <li>Cooking is a labor of love, and helping with prep and cleanup lessens the burden and shows your appreciation.</li>
        <li>Surplus food should be stored after each meal. Rain, insects, and heat will ruin perfectly good leftovers.</li>
      </ul>
      <h4 id="coordinators">Appreciate the Coordinators</h4>
      <hr>
      <ul>
        <li>Your donation also covers the cost of the gather. We ask that you pay as early as possible before the gather.</li>
        <li>We are not responsible for your children, body parts, pets, lost or damaged items, reputation, sense of meaning, etc.</li>
        <li>Never put anything beside the obvious in the port-o-let. If the pump clogs, they dump whatever clogged it onto the ground.</li>
        <li>Small recycling and trash bins can be found near the kitchen. Help reduce our burden by limiting the amount of trash you generate.</li>
        <li>Do not leave food on your trash or recyclables. You don't have to scrub it, but rinsing is greatly appreciated.</li>
        <li>Do not mix recyclables with trash. The bins will both be labeled so you know which is which.</li>
        <li>Recycling is preferred: reduce the amount of trash you generate. Paper products can be burned in the communal fire.</li>
        <li>The land must be immaculate once our gather has ended. Be certain to make sure you've left nothing behind.</li>
      </ul>
    </div>
  </div>
</div>
