<div class="row mt-4 ms-3">
  <div class="col-2"></div>
  <div class="col-9">
    <profile-form
      (participantChange)="checkPreexistingProfile()"
      [isPreexisting]="isPreexisting"
      [(participant)]="participant"
      [participantTypeOptions]="participantTypeOptions"
      [isParticipantTypeDropdown]="!isSelf"
      [isEmailAddressChangeable]="!isSelf"
      [messages]="messages"
      (formSubmit)="participant.id > 0 ? update() : create()">
    </profile-form>
    <div class="row">
      <div class="col-9 mx-2 text-center">
        <error-message class="text-center" [errorMessages]="messages" [fieldName]="'GENERAL_MESSAGE'"/>
      </div>
    </div>
  </div>
</div>
