<div class="row">
  <div class="col-2">
    <label for="associationType" class="form-label">Guest Type</label>
    <select class="form-select form-control" id="associationType" [(ngModel)]="associationType" (ngModelChange)="associationTypeChange.emit($event)" required>
      <option *ngFor="let option of participantAssociationTypeOptions" [ngValue]="option">{{ option }}</option>
    </select>
  </div>
  <div class="col-5">
    <label for="associationName" class="form-label">Name</label>
    <input type="text" id="associationName" class="form-control" [(ngModel)]="associationName" (ngModelChange)="associationNameChange.emit($event)" required />
  </div>
</div>
