<div class="row fixed-top bg-white" style="z-index: revert;">
  <div class="row mt-md-5 mt-4">&nbsp;</div>
  <div class="row mt-md-5 mt-5">&nbsp;</div>
  <div class="row mt-3" style="width: 100vw; --bs-gutter-x: 0; margin-left: revert;">
    <div class="col-md-4 col-2 d-flex justify-content-center">
      @if(showAddRecordButton) {
        <a class="bi-plus-circle" style="font-size: x-large; cursor: pointer;" (click)="onAddRecord()" aria-label="add-record"></a>
      }
    </div>
    <div class="col-md-4 col-10">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="search fields for value" aria-label="search" aria-describedby="button-addon2" [(ngModel)]="searchString" (keydown.enter)="onSearch()">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="onSearch()">Search</button>
      </div>
    </div>
    <nav aria-label="Page Controls" class="ms-md-0 ms-2 col-md-4 col-12 pagination justify-content-center">
      <ul class="pagination px-3" aria-label="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1" [style.cursor]="currentPage === 1 ? 'default' : 'pointer'">
          <a class="page-link bi-caret-left" (click)="onPreviousPage()"></a>
        </li>
        <li class="page-item" *ngFor="let page of visiblePages" [class.active]="page === currentPage" [class.disabled]="page === '...'" [style.cursor]="page !== '...' && page !== currentPage ? 'pointer' : 'default'">
          <a class="page-link" (click)="onPageClick(page)">{{ page }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === pages.length" [style.cursor]="currentPage === pages.length ? 'default' : 'pointer'">
          <a class="page-link bi-caret-right" (click)="onNextPage()"></a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="row">&nbsp;</div>
</div>
