<div class="row mt-4 ms-3">
  <div class="col-1"></div>
  <div class="col-8">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-5">
        <label for="event" class="form-label">Event</label>
        <select class="form-select" id="event" [(ngModel)]="transaction.eventInfoId" (input)="validate($event)" required>
          <option *ngFor="let event of eventInfoList" [ngValue]="event.id">({{ event.eventStatus}}) {{ event.eventName }}: <i>{{ event.eventTitle }}</i></option>
        </select>
        <error-message [errorMessages]="messages" [fieldName]="'event_info_id'"/>
      </div>
      <div class="col-3">
        <label for="type" class="form-label">Transaction Type</label>
        <select class="form-select" id="type" [(ngModel)]="transaction.transactionType" (input)="validate($event)" required>
          <option *ngFor="let type of transactionTypeOptions" [ngValue]="type">{{ type }}</option>
        </select>
        <error-message [errorMessages]="messages" [fieldName]="'transaction_type'"/>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-2"></div>
      <div class="col-3">
        <label for="actor" class="form-label">Actor</label>
        <select class="form-select" id="actor" [(ngModel)]="transaction.actorId" (input)="validate($event)" required>
          <option *ngFor="let actor of actorList" [ngValue]="actor.id">{{ actor.nameLast }}, {{ actor.nameFirst }}</option>
        </select>
        <error-message [errorMessages]="messages" [fieldName]="'actor_id'"/>
      </div>
      <div class="col-2">
        <label for="amount" class="form-label">Amount</label>
        <input type="text" id="amount" class="form-control" [(ngModel)]="transaction.amount" (input)="validate($event)" required />
        <error-message [errorMessages]="messages" [fieldName]="'amount'"/>
      </div>
      <div class="col-3">
        <label for="recipient" class="form-label">Recipient</label>
        <select class="form-select" id="recipient" [(ngModel)]="transaction.recipientId" (input)="validate($event)" required>
          <option *ngFor="let recipient of recipientList" [ngValue]="recipient.id">{{ recipient.nameLast }}, {{ recipient.nameFirst }}</option>
        </select>
        <error-message [errorMessages]="messages" [fieldName]="'recipient_id'"/>
      </div>
      <div class="col-2">
        <label for="instrument" class="form-label">Instrument</label>
        <select class="form-select" id="instrument" [(ngModel)]="transaction.instrumentType" (input)="validate($event)" required>
          <option *ngFor="let instrument of instrumentTypeOptions" [ngValue]="instrument">{{ instrument }}</option>
        </select>
        <error-message [errorMessages]="messages" [fieldName]="'instrument_type'"/>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-2"></div>
      <div class="col-10">
        <label for="memo" class="form-label">Memo</label>
        <input type="text" id="memo" class="form-control" [(ngModel)]="transaction.memo" (input)="validate($event)"/>
        <error-message [errorMessages]="messages" [fieldName]="'memo'"/>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-2"></div>
      <div class="col-10 text-center">
        <button type="button" class="btn btn-primary" (click)="transaction.id ? update() : create()">Submit</button>
      </div>
    </div>

    <div *ngIf="transaction.id" class="row mt-2">
      <div class="col-2"></div>
      <div class="col-10 text-center">
        <button type="button" class="btn btn-delete" (click)="delete()">Delete</button>
      </div>
    </div>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-10 text-center">
        <error-message class="text-center" [errorMessages]="messages" [fieldName]="'GENERAL_MESSAGE'"/>
      </div>
    </div>
  </div>
</div>
