<div class="row mt-5">
  <div class="col-md-2"></div>
  <div class="col-md-3 col-5">
    <label for="eventName" class="form-label">Event Name</label>
    <input type="text" id="eventName" class="form-control" [(ngModel)]="eventInfo.eventName" (input)="validate($event)" required />
    <error-message [errorMessages]="messages" [fieldName]="'event_name'"/>
  </div>
  <div class="col-md-5 col-7">
    <label for="eventTitle" class="form-label">Event Title</label>
    <input type="text" id="eventTitle" class="form-control" [(ngModel)]="eventInfo.eventTitle" (input)="validate($event)" required />
    <error-message [errorMessages]="messages" [fieldName]="'event_title'"/>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-3"></div>
  <div class="col-md-2 col-6">
    <label for="dateStart" class="form-label">Date Start</label>
    <input type="date" id="dateStart" class="form-control" [(ngModel)]="eventInfo.dateStart" (input)="validate($event)" required />
    <error-message [errorMessages]="messages" [fieldName]="'date_start'"/>
  </div>
  <div class="col-md-2 col-6">
    <label for="dateEnd" class="form-label">Date End</label>
    <input type="date" id="dateEnd" class="form-control" [(ngModel)]="eventInfo.dateEnd" (input)="validate($event)" required />
    <error-message [errorMessages]="messages" [fieldName]="'date_end'"/>
  </div>
  <div class="col-md-2 col-12">
    <label for="eventStatus" class="form-label">Event Status</label>
    <select class="form-select" id="eventStatus" [(ngModel)]="eventInfo.eventStatus" (input)="validate($event)" required>
      <option *ngFor="let status of eventStatusOptions" [ngValue]="status">{{ status }}</option>
    </select>
    <error-message [errorMessages]="messages" [fieldName]="'event_status'"/>
  </div>
</div>

<div class="row mt-md-5 mt-4">
  <div class="col-4"></div>
  <div class="col-4 text-center">
    <button type="button" class="btn btn-primary" (click)="eventInfo.id ? update() : create()" [disabled]="!messages || messages.size > 0">Submit</button>
  </div>
</div>

<div *ngIf="eventInfo.id" class="row mt-2">
  <div class="col-4"></div>
  <div class="col-4 text-center">
    <button type="button" class="btn btn-delete" (click)="delete()">Delete</button>
  </div>
</div>

<div class="row">
  <div class="col-1"></div>
  <div class="col-10 text-center">
    <error-message class="text-center" [errorMessages]="messages" [fieldName]="'GENERAL_MESSAGE'"/>
  </div>
</div>

<div class="row mt-md-5"></div>

<app-event-statistics [statisticsTarget]="eventInfo.id.toString(10)"></app-event-statistics>
