<div class="row mt-4 ms-3">
  <div class="col-2"></div>
  <div class="col-9">
    <profile-form
      [(nameFirst)]="nameFirst"
      [(nameLast)]="nameLast"
      [(addrEmail)]="addrEmail"
      (nameFirstChange)="checkPreexistingProfile()"
      (nameLastChange)="checkPreexistingProfile()"
      (addrEmailChange)="checkPreexistingProfile()"
      [isPreexisting]="isPreexisting"
      [(nameNick)]="nameNick"
      [(dob)]="dob"
      [(addrStreet_1)]="addrStreet_1"
      [(addrStreet_2)]="addrStreet_2"
      [(addrCity)]="addrCity"
      [(addrStateAbbr)]="addrStateAbbr"
      [(addrZip)]="addrZip"
      [(phoneDigits)]="phoneDigits"
      [(sponsor)]="sponsor"
      [(participantType)]="participantType"
      [participantTypeOptions]="participantTypeOptions"
      [isParticipantTypeDropdown]="!isSelf"
      [isEmailAddressChangeable]="!isSelf"
      (formSubmit)="id ? update() : create()">
    </profile-form>
  </div>
</div>
