<div class="mt-4">
  <registration-form
    [(registration)]="registration"
    [participantList]="participantList"
    [eventInfoList]="eventInfoList"
    [showSubmitButton]="true"
    [(messages)]="messages"
    (formSubmit)="registration.id ? update() : create()">
  </registration-form>
</div>
@if (registration.id) {
  <div class="row mt-2">
    <div class="col-4"></div>
    <div class="col-4 text-center">
      <button type="button" class="btn btn-delete" (click)="delete()" [disabled]="!messages || messages.size > 0">Delete</button>
    </div>
  </div>
}
<div class="row">
  <div class="col-12 text-center">
    <error-message class="text-center" [errorMessages]="messages" [fieldName]="'GENERAL_MESSAGE'"/>
  </div>
</div>
