<div *ngIf="registrationList && registrationList.length > 0 && guestProfileList && guestProfileList.length" class="row mb-3">
  <div class="col-5">
    <label for="registrationSelect" class="form-label">Registration</label>
    <select
      id="registrationSelect"
      class="form-select"
      [(ngModel)]="guest.registrationId"
      (ngModelChange)="updateRegistration($event)"
      (input)="validate($event)"
    >
      <option *ngFor="let registration of registrationList" [value]="registration.id">
        {{ registration.eventName }}: {{ registration.eventTitle }} ({{ registration.nameFirst }} {{ registration.nameLast }})
      </option>
    </select>
    <error-message [errorMessages]="messages" [fieldName]="'registration_id'"/>
  </div>
  <div class="col-5">
    <label for="guestProfileSelect" class="form-label">Guest Profile</label>
    <select
      id="guestProfileSelect"
      class="form-select"
      [(ngModel)]="guest.guestProfileId"
      (ngModelChange)="updateGuestProfile($event)"
      (input)="validate($event)"
    >
      <option *ngFor="let guestProfile of guestProfileList" [value]="guestProfile.id">
        {{ guestProfile.nameLast }}, {{ guestProfile.nameFirst }}
      </option>
    </select>
    <error-message [errorMessages]="messages" [fieldName]="'guest_profile_id'"/>
  </div>
</div>

<div class="row">
  <div class="col-1">
  </div>
  <div class="col-2">
    <label for="relationshipType" class="form-label">Guest Type</label>
    <select class="form-select form-control" id="relationshipType" [(ngModel)]="guest.relationship" (input)="validate($event)" required>
      <option *ngFor="let option of relationshipTypeOptions" [ngValue]="option">{{ option }}</option>
    </select>
    <error-message [errorMessages]="messages" [fieldName]="'relationship'"/>
  </div>
  <div class="col-5">
    <label for="guestRawName" class="form-label">Guest Name</label>
    <input type="text" id="guestRawName" class="form-control" [(ngModel)]="guest.rawGuestName" (input)="validate($event)" required />
    <error-message [errorMessages]="messages" [fieldName]="'raw_guest_name'"/>
  </div>
</div>

<div class="row mt-5" *ngIf="showSubmitButton">
  <div class="col-3"></div>
  <div class="col-3 mx-2 text-center">
    <button type="button" class="btn btn-primary" (click)="submitForm()" [disabled]="!messages || messages.size > 0">Submit</button>
  </div>
</div>
