<div class="row mt-4 ms-3">
  <div class="col-2"></div>
  <div class="col-7">
    <ul class="property-list">
    <h4>Recommended <strong>Minimum</strong> Donation:</h4>
    <hr/>
    <div class="ms-5 ps-5">
      <div class="row ms-2">[TODO - fed by DB]<div class="col ms-3">Recommended Minimum Donation</div></div>
    </div>
    <div class="ms-3 fst-italic short-row">These minimums help to ensure our expenses are met. All remaining funds go to <a href="[TODO - fed by DB]">[TODO - fed by DB]</a> at the end of each year.</div>

    <h4 class="mt-5">How to Submit Your Donation via <strong>[TODO - fed by DB]</strong> (preferred):</h4>
    <hr/>
    <div class="ms-5 ps-5 short-row">
      <div class="row ms-4">1.<div class="col ms-3">Go to <a href="[TODO - fed by DB]">[TODO - fed by DB]</a>.</div></div>
      <div class="row ms-4 short-row">2.<div class="col ms-3">[TODO - fed by DB]</div></div>
    </div>

    <h4 class="mt-5">How to Submit Your Donation via <strong>Check</strong>:</h4>
    <hr/>
    <div class="ms-5 ps-5">
      <div class="row ms-4">1.<div class="col ms-3">Make your check out to <strong>[TODO - fed by DB].</strong></div></div>
      <div class="row ms-4 short-row">2.<div class="col ms-3">Send your check to:</div></div>
      <div class="row ms-4"><div class="col ms-5 ps-4">[TODO - fed by DB]</div></div>
      <div class="row ms-4 short-row"><div class="col ms-5 ps-4">c/o [TODO - fed by DB]</div></div>
      <div class="row ms-4 short-row"><div class="col ms-5 ps-4">[TODO - fed by DB]</div></div>
      <div class="row ms-4 short-row"><div class="col ms-5 ps-4">[TODO - fed by DB]</div></div>
    </div>
  </ul>
  </div>
</div>
