<div class="row mt-4 ms-3">
  <div class="row">
    <div class="progress mb-4">
      <div
        class="progress-bar"
        role="progressbar"
        [style.width.%]="(currentStep / totalSteps) * 100"
        [attr.aria-valuenow]="currentStep"
        aria-valuemin="1"
        [attr.aria-valuemax]="totalSteps"
      >
        Step {{ currentStep }} of {{ totalSteps }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="d-flex justify-content-between mt-4">
      <button class="btn btn-primary" [disabled]="currentStep === 1" (click)="previousStep()">Previous</button>
      <button class="btn btn-primary" *ngIf="currentStep < totalSteps" (click)="nextStep()">Next</button>
    </div>
  </div>

  <div class="col-2"></div>
  <div class="col-9">

    <div *ngIf="currentStep === 1" class="step step-1">
      <profile-form
        [(nameFirst)]="nameFirst"
        [(nameLast)]="nameLast"
        [(nameNick)]="nameNick"
        [(dob)]="dob"
        [(addrStreet_1)]="addrStreet_1"
        [(addrStreet_2)]="addrStreet_2"
        [(addrCity)]="addrCity"
        [(addrStateAbbr)]="addrStateAbbr"
        [(addrZip)]="addrZip"
        [(addrEmail)]="addrEmail"
        [(phoneDigits)]="phoneDigits"
        [(sponsor)]="sponsor"
        [participantType]="'ATTENDEE'"
        [isParticipantTypeDropdown]="false"
        [isEmailAddressChangeable]="true"
        [showSubmitButton]="false">
      </profile-form>
    </div>

    <div *ngIf="currentStep === 2" class="step step-2">
      <div class="row">
        <div class="col-8">
          <label class="form-label col d-flex justify-content-center align-items-center">Please note any guests that will be accompanying you. Adult guests should still submit their own registration.</label>
          <br>
          <hr>
        </div>
      </div>
      <div class="row mb-3" *ngFor="let association of participantAssociations; let i = index">
        <div class="col-1 d-flex justify-content-end align-items-end">
          <button class="btn btn-outline-danger bi-person-fill-dash" aria-label="Remove Guest" (click)="onRemoveAssociation(i)"></button>
        </div>
        <div class="col-11">
          <app-participant-association [(associationType)]="association.association" [(associationName)]="association.rawAssociateName"></app-participant-association>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="btn btn-outline-primary bi-person-fill-add" aria-label="Add Guest" (click)="onAddAssociation()"></button>
        </div>
      </div>
    </div>

    <div *ngIf="currentStep === 3" class="step step-3">
      <div class="row">
        <div class="col-3 d-flex flex-column justify-content-center align-items-center">
          <div class="form-label">Registration for Event:</div>
          <div>{{ latestEventInfoName }}: <i>{{ latestEventInfoTitle }}</i></div>
        </div>
        <div class="col-2">
          <label for="amountDonation" class="form-label">Donation</label>
          <div class="input-group">
            <span class="input-group-text">$</span>
            <input type="number" id="amountDonation" class="form-control px-0" [(ngModel)]="pledgedAmount" >
          </div>
        </div>
        <div class="col-4"><label for="signature" class="form-label">Signature</label><input type="text" id="signature" class="form-control" [(ngModel)]="signature" ></div>
      </div>

      <div class="row mt-2 mt-3">
        <div class="col-9 text-center">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmationModal">
            Submit Registration
          </button>
          <div class="modal fade" id="confirmationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="confirmationModalLabel">Submit Registration</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
                </div>
                <div class="modal-body">
                  I agree to abide by the Guidelines, and,<br>I understand submission of my registration is a promise<br>to contribute the amount I specified in my registration.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary" (click)="submitRegistration()">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
