<div class="row mt-4 ms-3">
  <div class="row">
    <div class="progress mb-4">
      <div
        class="progress-bar"
        role="progressbar"
        [style.width.%]="(currentStep / totalSteps) * 100"
        [attr.aria-valuenow]="currentStep"
        aria-valuemin="1"
        [attr.aria-valuemax]="totalSteps"
      >
        Step {{ currentStep }} of {{ totalSteps }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="d-flex justify-content-between mt-4">
      <button class="btn btn-primary" [disabled]="currentStep === 1" (click)="previousStep()">Previous</button>
      <button class="btn btn-primary" *ngIf="currentStep < totalSteps" (click)="nextStep()">Next</button>
    </div>
  </div>

  <div class="col-2"></div>
  <div class="col-9">

    <div *ngIf="currentStep === 1" class="step step-1">
      <profile-form
        [(nameFirst)]="nameFirst"
        [(nameLast)]="nameLast"
        [(nameNick)]="nameNick"
        [(dob)]="dob"
        [(addrStreet_1)]="addrStreet_1"
        [(addrStreet_2)]="addrStreet_2"
        [(addrCity)]="addrCity"
        [(addrStateAbbr)]="addrStateAbbr"
        [(addrZip)]="addrZip"
        [(addrEmail)]="addrEmail"
        [(phoneDigits)]="phoneDigits"
        [(sponsor)]="sponsor"
        [participantType]="'ATTENDEE'"
        [isParticipantTypeDropdown]="false"
        [isEmailAddressChangeable]="true"
        [showSubmitButton]="false">
      </profile-form>
    </div>

    <div *ngIf="currentStep === 2" class="step step-2">
      <div class="row">
        <div class="col-9"><label for="guests" class="form-label">Name(s) of guest(s) you will be inviting</label><input type="text" id="guests" class="form-control"></div>
      </div>
      <div class="row mt-2">
        <div class="col-6"><label for="minors" class="form-label">Guest minor(s) in your care</label><input type="text" id="minors" class="form-control"></div>
        <div class="col-3"><label for="relationMinors" class="form-label">Relation to minor(s) in your care</label><input type="text" id="relationMinors" class="form-control"></div><!-- TODO - sourced from DB -->
      </div>
      <div class="row mt-2">
        <div class="col-6"><label for="pets" class="form-label">Guests pet(s) in your care</label><input type="text" id="pets" class="form-control"></div>
        <div class="col-3"><label for="relationPets" class="form-label">Relation to pet(s) in your care</label><input type="text" id="relationPets" class="form-control"></div><!-- TODO - sourced from DB -->
      </div>
    </div>

    <div *ngIf="currentStep === 3" class="step step-3">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-2"><label for="event" class="form-label">Registration for Event</label><input type="text" id="event" class="form-control" disabled></div><!-- TODO - sourced from DB -->
        <div class="col-1">
          <label for="amountDonation" class="form-label">Donation</label>
          <div class="input-group">
            <span class="input-group-text">$</span>
            <input type="number" id="amountDonation" class="form-control px-0">
          </div>
        </div>
        <div class="col-4"><label for="signature" class="form-label">Signature</label><input type="text" id="signature" class="form-control"></div>
      </div>

      <div class="row mt-2 mt-3">
        <div class="col-9 text-center">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmationModal">
            Submit Registration
          </button>
          <div class="modal fade" id="confirmationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="confirmationModalLabel">Submit Registration</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
                </div>
                <div class="modal-body">
                  I agree to abide by the Guidelines, and,<br>I understand submission of my registration is a promise<br>to contribute the amount I specified in my registration.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary" (click)="submitRegistration()">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
