<div class="row">
  <div class="col-4">
    <label for="nameFirst" class="form-label">Legal First Name</label>
    <input type="text" id="nameFirst" class="form-control" [(ngModel)]="participant.nameFirst" (ngModelChange)="participantChange.emit(participant)" (input)="validate($event)" required />
    <error-message [errorMessages]="messages" [fieldName]="'name_first'"/>
  </div>
  <div class="col-5">
    <label for="nameLast" class="form-label">Legal Last Name</label>
    <input type="text" id="nameLast" class="form-control" [(ngModel)]="participant.nameLast" (ngModelChange)="participantChange.emit(participant)" (input)="validate($event)" required />
    <error-message [errorMessages]="messages" [fieldName]="'name_last'"/>
  </div>
</div>
<div class="row mt-2" *ngIf="isEmailAddressChangeable">
  <div class="col-2"></div>
  <div class="col-5">
    <label for="addrEmail" class="form-label">Email Address</label>
    <input type="email" id="addrEmail" class="form-control" [(ngModel)]="participant.addrEmail" (ngModelChange)="participantChange.emit(participant)" (input)="validate($event)" required />
    <error-message [errorMessages]="messages" [fieldName]="'addr_email'"/>
  </div>
</div>

<div class="row mt-5" *ngIf="!isPreexisting">
  <div class="row">
    <div class="col-3">
      <label for="nameNick" class="form-label">Nickname</label>
      <input type="text" id="nameNick" class="form-control" [(ngModel)]="participant.nameNick" (input)="validate($event)" />
      <error-message [errorMessages]="messages" [fieldName]="'name_nick'"/>
    </div>
    <div class="col-2">
      <label for="dateBirth" class="form-label">Date of Birth</label>
      <input type="date" id="dateBirth" class="form-control" [(ngModel)]="participant.dob" (input)="validate($event)" required />
      <error-message [errorMessages]="messages" [fieldName]="'dob'"/>
    </div>
    <div class="col-4">
      <label for="nameSponsor" class="form-label">Name(s) of person(s) that first invited you</label>
      <input type="text" id="nameSponsor" class="form-control" [(ngModel)]="participant.sponsor" (input)="validate($event)" required />
      <error-message [errorMessages]="messages" [fieldName]="'sponsor'"/>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-5">
      <label for="addressStreet1" class="form-label">Street 1</label>
      <input type="text" id="addressStreet1" class="form-control" [(ngModel)]="participant.addrStreet_1" (input)="validate($event)" required />
      <error-message [errorMessages]="messages" [fieldName]="'addr_street_1'"/>
    </div>
    <div class="col-4">
      <label for="addressStreet2" class="form-label">Street 2</label>
      <input type="text" id="addressStreet2" class="form-control" [(ngModel)]="participant.addrStreet_2" (input)="validate($event)" />
      <error-message [errorMessages]="messages" [fieldName]="'addr_street_2'"/>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-1"></div>
    <div class="col-3">
      <label for="addressCity" class="form-label">City</label>
      <input type="text" id="addressCity" class="form-control" [(ngModel)]="participant.addrCity" (input)="validate($event)" required />
      <error-message [errorMessages]="messages" [fieldName]="'addr_city'"/>
    </div>
    <div class="col-1">
      <label for="addressState" class="form-label">State</label>
      <select class="form-select form-control" id="addressState" [(ngModel)]="participant.addrStateAbbr" (input)="validate($event)" required>
        <option *ngFor="let option of contactUtilityServiceService.getStateAbbreviations()" [ngValue]="option">{{ option }}</option>
      </select>
      <error-message [errorMessages]="messages" [fieldName]="'addr_state_abbr'"/>
    </div>
    <div class="col-1">
      <label for="addressZipcode" class="form-label">Zipcode</label>
      <input type="text" id="addressZipcode" class="form-control" [(ngModel)]="participant.addrZip" (input)="validate($event)" required />
      <error-message [errorMessages]="messages" [fieldName]="'addr_zip'"/>
    </div>
    <div class="col-2">
      <label for="phoneNumber" class="form-label">Phone Number</label>
      <input type="tel" id="phoneNumber" class="form-control" [(ngModel)]="participant.phoneDigits" (input)="validate($event)" required />
      <error-message [errorMessages]="messages" [fieldName]="'phone_digits'"/>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-4">
      <label for="nameEmergency" class="form-label">Emergency Contact Name</label>
      <input type="text" class="form-control" id="nameEmergency" [(ngModel)]="participant.nameEmergency" (input)="validate($event)" required>
      <error-message [errorMessages]="messages" [fieldName]="'name_emergency'"/>
    </div>
    <div class="col-2">
      <label for="phoneEmergency" class="form-label">Emergency Contact Phone</label>
      <input type="text" class="form-control" id="phoneEmergency" [(ngModel)]="participant.phoneEmergency" (input)="validate($event)" required>
      <error-message [errorMessages]="messages" [fieldName]="'phone_emergency'"/>
    </div>
    <div class="col-3">
      <label for="relationshipEmergency" class="form-label">Emergency Contact Relationship</label>
      <select class="form-select form-control" id="relationshipEmergency" [(ngModel)]="participant.emergencyContactRelationshipType" (input)="validate($event)" required>
        <option *ngFor="let option of contactUtilityServiceService.getRelationshipEmergencyContact()" [value]="option.key">{{ option.value }}</option>
      </select>
      <error-message [errorMessages]="messages" [fieldName]="'emergency_contact_relationship_type'"/>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-2"></div>
    <div class="col-5">
      <div class="d-flex align-items-center">
        <div *ngIf="isParticipantTypeDropdown" class="flex-fill">
          <label for="participantType" class="form-label">Profile Type</label>
          <select class="form-select" id="participantType" [(ngModel)]="participant.participantType" (input)="validate($event)" required>
            <option *ngFor="let type of participantTypeOptions" [ngValue]="type">{{ type }}</option>
          </select>
          <error-message [errorMessages]="messages" [fieldName]="'participant_type'"/>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5" *ngIf="isPreexisting">
  <div class="col-1"></div>
  <div class="col-7 text-center">
    <strong>Thank you for previously registering!</strong>
    <br />
    Your previously submitted information will be used for this registration.
    <br />
    If your information has changed, please contact the administrator.
    <br />
    <br />
    Please proceed with your registration.
  </div>
</div>

<div class="row mt-5" *ngIf="showSubmitButton">
  <div class="col-3"></div>
  <div class="col-3 mx-2 text-center">
    <button type="button" class="btn btn-primary" (click)="submitForm()" [disabled]="!messages || messages.size > 0">Submit</button>
  </div>
</div>
