<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand col-1" href="#"><img src="assets/images/logo.svg" alt="home" class="img-fluid"></a>
    <div class="col-11">
      <div class="navbar-nav">
        <a class="nav-link" href="#">Guidelines</a>
        <a class="nav-link" href="#">Registration</a>
        <a class="nav-link" href="#">Donations</a>
        <button class="navbar navbar-toggler d-inline-flex ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Coordinator Tools">
          Coordinator Tools <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </div>
</nav>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Coordinator Tools</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <li class="nav-item">
        <a class="nav-link" href="#">Events</a>
        <a class="nav-link" href="#">Participants</a>
        <a class="nav-link" href="#">Payments</a>
        <a class="nav-link" href="#">History</a>
      </li>
    </ul>
  </div>
</div>
