<div class="row mt-4 ms-3">
  <nav aria-label="Page Controls" class="pagination">
    <div class="col-4">
      <a class="bi-plus-circle" style="font-size: x-large" href="#" aria-label="add-record"></a>
    </div>
    <div class="col-4">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="search fields for value" aria-label="search" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
      </div>
    </div>
    <ul class="pagination col-4 justify-content-end px-3" aria-label="pagination">
      <li class="page-item disabled">
        <a class="page-link bi-caret-left"></a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link bi-caret-right" href="#"></a>
      </li>
    </ul>
  </nav>
</div>
