<div class="row mt-4 ms-3">
  <div class="col-2"></div>
  <div class="col-9">
    <div class="row">
      <div class="col-2">
        <label for="donationMinimum" class="form-label">Recommended Donation</label>
        <div class="input-group mb-3">
          <span class="input-group-text">$</span>
          <input type="number" id="donationMinimum" class="form-control px-0">
          <span class="input-group-text">.00</span>
        </div>
      </div>
      <div class="col-8">
        <label for="charityInfo" class="form-label">Charity Info</label>
        <div class="input-group mb-3" id="charityINfo">
          <span class="input-group-text">Name</span>
          <input type="text" id="charityName" class="form-control">
          <span class="input-group-text">URL</span>
          <input type="url" id="charityUrl" class="form-control">
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-10">
        <label for="fundProcessor" class="form-label">Fund Processor</label>
        <div class="input-group mb-3" id="fundProcessor">
          <span class="input-group-text">Name</span>
          <input type="text" class="form-control">
          <span class="input-group-text">URL</span>
          <input type="URL" class="form-control">
        </div>
        <label for="fundProcessorInstructions" class="form-label">Fund Processor Instructions</label>
        <div class="input-group mb-3" id="fundProcessorInstructions">
          <span class="input-group-text">JSON</span>
          <textarea class="form-control"></textarea>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-10">
        <label for="guidelines" class="form-label">Event Guidelines</label>
        <div class="input-group mb-3" id="guidelines">
          <span class="input-group-text">JSON</span>
          <textarea class="form-control"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 mx-2">
    <div class="col-11 text-center">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmationModal">
        Update
      </button>
      <div class="modal fade" id="confirmationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="confirmationModalLabel">Confirm Update</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
            </div>
            <div class="mx-5 mt-3 mb-3">Ready to update this site with your changes?</div>
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary">Confirm</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
