<nav class="navbar navbar-expand-md bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand col-1" href="#"><img src="assets/images/logo.svg" alt="home" class="img-fluid"></a>
    <div class="col-11">
      <div class="navbar-nav">
        <a class="nav-link" href="/guidelines">Guidelines</a>
        <a class="nav-link" href="/registration">Registration</a>
        <a class="nav-link" href="/donations">Donations</a>
        <button class="navbar navbar-toggler d-inline-flex ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Coordinator Tools">
          Coordinator Tools&nbsp;<span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </div>
</nav>
