<div class="row mt-4 ms-3">
  <div class="col-2"></div>
  <div class="col-9">
    <guest-form
      [(guest)]="guest"
      [registrationList]="registrationList"
      [guestProfileList]="guestProfileList"
      [(messages)]="messages"
      [showSubmitButton]="true"
      (formSubmit)="guest.id ? update() : create()">
    </guest-form>
    @if (guest.id) {
      <div class="row mt-2">
        <div class="col-3"></div>
        <div class="col-3 mx-2 text-center">
          <button type="button" class="btn btn-delete" (click)="delete()" [disabled]="!messages || messages.size > 0">Delete</button>
        </div>
      </div>
    }
    <div class="row">
      <div class="col-9 mx-2 text-center">
        <error-message class="text-center" [errorMessages]="messages" [fieldName]="'GENERAL_MESSAGE'"/>
      </div>
    </div>
  </div>
</div>
