<div class="mt-4">
  <guest-form
    [(guest)]="guest"
    [registrationList]="registrationList"
    [guestProfileList]="guestProfileList"
    [(messages)]="messages"
    [showSubmitButton]="true"
    (formSubmit)="guest.id ? update() : create()">
  </guest-form>
</div>
@if (guest.id) {
  <div class="row mt-2">
    <div class="col-4"></div>
    <div class="col-4 text-center">
      <button type="button" class="btn btn-delete" (click)="delete()" [disabled]="!messages || messages.size > 0">Delete</button>
    </div>
  </div>
}
<div class="row">
  <div class="col-12 text-center">
    <error-message class="text-center" [errorMessages]="messages" [fieldName]="'GENERAL_MESSAGE'"/>
  </div>
</div>
